body {  
    background-color: #f5ebec;
    font-family: 'Montserrat', sans-serif;
}

#blok {
    background-color: #b2bce0;
    width: 1521px;
    height: 600px;
    margin-left: -10px;
    margin-top: -10px;
}

#foto {
  margin-left: 900px;
  margin-top: -532px;
  opacity: 0.7;
}


#naam {
    margin-left: 125px;
    margin-top: -580px;
    font-size: 50px;
    line-height: 1.3;
    color: #f5ebec
  }

  #tekst {
    margin-left: 125px;
    margin-top: -55px;
    font-size: 30px;
    color: #f5ebec
  }

  #reflectie {
      text-align: center;
    margin-top: 320px;
    font-size: 30px;
    color: #434343
  }

  #foto2 {
  margin-top: 40px;
  text-align: center;
}

#foto3 {
    margin-top: 20px;
    text-align: center;
  }

#tekstreflectie {
    text-align: center;
    margin-left: 350px;
  font-size: 17px;
  width: 800px;
  color: #434343
}

#blok2 {
    background-color: #b2bce0;
    width: 1521px;
    height: 500px;
    margin-left: -10px;
    margin-top: 100px;
  }

  #actiepunten {
    margin-top: -465px;
    text-align: center;
    font-size: 30px;
    color: #f5ebec;
    }

    #actiepuntentekst {
        margin-top: 5px;
        margin-left: 700px;
        text-align: left;
        font-size: 17px;
        color: #f5ebec;
        width: 700px;
        line-height: 1.3;
        }

        #foto4 {
            margin-top: -233px;
            margin-left: 470px;
          }
        
          #ontwerp {
            margin-top: 200px;
            font-size: 30px;
            text-align: center;
            color: #434343
        }

        #ontwerptekst {
          text-align: center;
          color: #434343
        }

        #ontwerpfoto {
            margin-left: 60px;
        }

        #footer {
          text-align: center;
          color: #434343
        }
    
       
